websockets
SpeechRecognition
PyAudio
# playsound==1.2.2
preferredsoundplayer
python-dotenv
openai
deepgram-sdk
elevenlabs
mpv
ffmpeg
kivy
openai-whisper
--extra-index-url https://download.pytorch.org/whl/cu116
torch
numpy