volumes/*
.data/
*/.env
.env
.env.json
agent/.env
agent/.env.json
**/*.pyc
**/.venv/
credentials.json
client/speech.mpeg
.DS_Store
# The following are for pyinstaller
agent/build/client_gradio/base_library.zip
agent/dist/
agent/build/
create/