websockets
loguru
nest_asyncio
huggingface_hub
python-dotenv
langchain
openai
google-api-python-client
wolframalpha
# transformers[agents]
bs4
certifi
apify-client
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
chromadb-client
semantic-kernel
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp