apify-client
bs4
certifi
dspy-ai>=2.4.9
dspy-ai[milvus]>=2.4.9
elevenlabs
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gradio>=4.32.0
huggingface_hub
keychain
keyring
langchain-community==0.2.1
langchain-experimental
langchain-openai
langchain==0.2.1
loguru
markdown
milvus[client]~=2.3.7 # Locked down because of dspy-ai
nest_asyncio
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pyaudio
pydantic>=2.7.4
pydantic-settings
pyhive[presto]
pymilvus~=2.3.7 # Locked down because of dspy-ai
pypdf
python-dotenv
python-magic
search-engine-parser
semantic-kernel
sentence-transformers
torchaudio
websockets
wolframalpha