websockets
loguru
nest_asyncio
huggingface_hub
python-dotenv
langchain
langchain-community
langchain-openai
openai
google-api-python-client
wolframalpha
sentence-transformers
bs4
certifi
apify-client
google-auth-httplib2
google-auth-oauthlib
fastapi
chromadb
semantic-kernel
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
gradio
torchaudio
pydantic
pydantic-settings
pyaudio
elevenlabs
keychain
pyhive[presto]